html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#menu{
    min-width: 249px;
}
.menu-lateral{
    background-color: #3e4d57;
    height: 100%;
}
.menu-lateral a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 12px;
    font-size: 20px;
}
.menu-lateral i{
    margin-right: 10px;
}
.title{
    color: #ffffff;
    background-color: #3e4d57;
    height: 100px;
    display: flex;
    align-items: center;
}
.menu-lateral hr{
    background-color: #ffffff;
}
.menu-lateral a:hover{
    text-decoration: none;    
    color: #ffffff;
    font-weight: bold;
}

#barra-superior{
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #0A355B;
    height: 60px;
}
.btitle{
    display: flex;
    justify-content: flex-end;
}
.icons{
    display: flex;
    justify-content: flex-end;
}
.icons a{
    margin-right: 20px;
    color: #ffffff;
    font-size: 30px;
}
.active{
    background-color: lightslategray;
    font-weight: bold;
}
#estados{
    color: white;
}
.estadoLista{
    color:white;
    font-weight: bold;
}

